.owl-nav
  position: absolute
  top: 0
  margin: 0
  right: 0
  transform: translate3d(0, -50px, 0)
  margin: 0 !important
  
.owl-prev, .owl-next
  margin: 0 
  margin: 0 18px !important
  span 
    font-size: 25px


section
  padding: 120px 0  


.owl-thumbs
  button 
    width: 25%
    border: 0
    cursor: pointer

.owl-thumb-item img 
  width: 100%
  height: auto

////////////////////////////////////

.Wrapper-carrito
  background: #cccccc
  padding: 15px 22px

.Item-producto
  padding: 35px 0
  display: grid
  grid-template-columns: 50px 1fr 50px 80px 
  border-bottom: 1px solid #9c9c9c

.precio
  justify-self: end

.cantidad 
  justify-self: center

.item
  align-self: center  